html {
    scroll-behavior: smooth;
}

.post-container {
    margin: 0;
    padding: 4rem 0;
    box-sizing: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-white-dirty);
}

.search-bar {
    padding-bottom: 3rem;
}