* {
  /* Removes default margin and padding */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* Cusotm Google Font: Open Sans Light 300 */
  font-family: 'Open Sans', sans-serif;
}

html {
  /* 
    Prevents horizontal scrollbar from appearing when viewport
    is narrow. Can be improved later on.
  */
  overflow-x: hidden;
}

/* Ensures that footer is always at the bottom of the viewport */
.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-container {
  flex: 1;
}