.admin {
    overflow-x: scroll;
    display: flex;
    min-height: 100vh;
}

table {
    width: fit-content;
}

th {
    background-color: var(--color-primary);
    color: var(--color-white-dirty);
    width: fit-content;
}

h1 {
    font-size: 26px;
    font-weight:bold;
}

span {
    font-style: bold;
}

#closeButton {
    color: red;
    cursor: pointer;
}

#void #delete {
    display: flex;
    width: auto;
}

.admin-popup {
    border-radius: 0 !important;
}