.footer {
    color: #fff;
    background-color: #05445E;
    padding: 2rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 11pt;
}

.footer .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.footer .row:first-of-type {
    display: flex;
    flex-direction: row;
}

.footer .row:last-of-type {
    margin-bottom: 0;
}

.footer h4 {
    font-weight: 400;
}

.footer ul {
    list-style: none;
    padding: 0.5rem 0;
}

.footer li {
    padding: 0.5rem 0;
}

.footer .social {
    transform: scale(1.5);
    margin-left: 1.5rem;
}

.footer .social:first-of-type {
    margin-left: 0;
}

.footer hr {
    border: 0;
    height: 1px;
    border-radius: 0;
    margin-bottom: 1.7rem;
    background-color: var(--color-white-dirty);
}

.footer .logo {
    font-weight: 400;
}

.footer .link {
    text-decoration: none;
    color: var(--color-white-dirty);
}

@media screen and (max-width: 1140px ) {
    .footer {
        padding: 1.5rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer .row {
        justify-content: center;
        text-align: center;
    }

    .footer .col {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer ul {
        text-align: center;
    }
}

