#view-button, #alert-button {
    background-color: transparent;
    border-color: transparent;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    
}

#image-container {
    width: 50%;
    height: auto;
    border-radius: 5px;
    
}

#view-button:hover, #alert-button:hover {
    text-shadow: 2px 2px 4px gray;
}

.buttonWrapper {
    display: flex;
    box-sizing: border-box;
    margin: 3%;
}

.view-Wrapper {
    position: 'right';
    width: 100%;
    justify-content: flex-start;
}

.alert-Wrapper {
    width: 100%;
    justify-content: flex-end;
    text-align: right;
}

/* General */

.card-body {
    background-color: var(--color-white-dirty);
    padding: 0 2rem;
    flex: 1;
    align-items: center;
}

/* Lost Card */

.lost-card {
    box-sizing: border-box;
    margin: 2rem 0;
    padding: 0;
    outline: 1px solid var(--color-red-pastel-light);
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.lost-card > * {
    transition: all 0.3s ease-in-out;
}

.lost-card:hover > .card-body {
    overflow: hidden;
}

.lost-card:hover > .card-highlight {
    min-width: 30px;
}

.lost-card:hover > .card-image {
    max-width: 200px;
}

.lost-card .card-highlight {
    height: auto;
    min-width: 15px;
    background-color: var(--color-red-pastel-light);
}

.lost-card .label {
    display: inline-block;
    min-width: 85px;
    font-weight: bold;
    color: var(--color-red-pastel-light);
}

/* Found Card */

.found-card {
    box-sizing: border-box;
    margin: 2rem 0;
    padding: 0;
    outline: 1px solid var(--color-green-pastel);
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.found-card > * {
    transition: all 0.3s ease-in-out;
}

.found-card:hover > .card-body {
    overflow: hidden;
}

.found-card:hover > .card-highlight {
    min-width: 30px;
}

.found-card:hover > .card-image {
    max-width: 200px;
}

.found-card .card-highlight {
    height: auto;
    min-width: 15px;
    background-color: var(--color-green-pastel);
}

.found-card .label {
    display: inline-block;
    min-width: 103px;
    font-weight: bold;
    color: var(--color-green-pastel);
}

